*, a {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
}

/* Home */
.home_pai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home_titulo {
 font-size: 2.5rem;
 font-weight: 700;
 line-height: 120px;
}

.home_botao {
  width: 160px;
  height: 40px;
  padding: 12px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
/* Fim Home */

/* INICIO DA PAGINA INICIAL */
.paginaInicial_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 133px;
}
.tab-container {
  border-top: 10px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.tab-header {
  display: flex;
  background-color: #fff;
  white-space: nowrap;
}

.tab-button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  transition: background-color 0.3s;

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 50px;
}

.tab-button.active {
  background-color: #000;
  color: #fff;
}

.tab-content {
  display: none;
  padding: 10px;
}

.tab-content.active {
  display: block;
}

/* TAB 1 - APRESENTAÇÃO PAGINA INICIAL */
/* #tab1 {
  display: flex;
  flex-direction: column;
} */
.tab1_apr {
  margin: 4rem 0 4rem 0;
  display: flex;
  flex-direction: row;
}
.tab1_apr-img {
  width: 336px;
  height: 368px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  border: 10px solid #000;
}
.tab1_apr-texto {
  margin: 2.125rem 4rem 0 0rem ;
}
.tab1_apr-titulo {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 50px;
}

.tab1_apr-desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 40px;
}
.tab1_amo{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 33px;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.tab1_jogo {

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 33px;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.tab1_dorama{

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 33px;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
/* FIM DA PAGINA INICIAL */

/* INICIO FORMAÇÃO */
.formacao {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:65px;
  margin-top: 65px;
}
.curso1_titulo, .curso2_titulo, .curso3_titulo {
  font-size: 40px;
  font-weight: 700;
}

.curso1_desc, .curso2_desc, .curso3_desc, .curso1_tempo, .curso2_tempo, .curso3_tempo {
  font-size: 16px;
  font-weight: 400;
}
/* FIM FORMAÇÃO */
/* INICIO PROJETOS */
.projeto1 {
  margin: 4rem 0 4rem 0;
}
.projeto_titulo{
  font-size: 40px;
  font-weight: 700;
}
.projeto_desc {
  font-size: 16px;
  font-weight: 400;
}
/* FIM PROJETOS */
/* INICIO CONTATO */
.contato_titulo {
  font-size: 40px;
  font-weight: 700;
  margin: 67px 0 24px 0;
}

.formulario {
  display:flex;
  flex-direction: column;
  flex-direction: center;
  align-items: start;
  justify-content: center;
}
.form_titulo{
  font-size: 16px;
  font-weight: 400;
}

input, textarea {
  width: 336px;
  height: 40px;
  border: #000 solid 1px;
  margin-bottom: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
/* FIM CONTATO */